<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
 <body>
    <div class="body-overlay">
        <!-- ========== HEADER ========== -->
      <%- include('./partials/header.ejs') %> 
        <!-- ========== MAIN ==========  -->
      <main>
        <div>
          <h1>Pro League List</h1>
          <ul>
            <% leagues.forEach(l => { %> 
            <li>
                <a href="/leagues/<%= l._id %>"><%= l.name; %></a>
                <form action="/leagues/<%= l._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <a href="/leagues/<%= l._id %>/edit">Edit League</a>
            </li>
            <% }); %>
          </ul>
        </div>
        </main>
    </div>
  </body>
</html>