<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Details</title>
</head>
<body>
    <nav>
        <a href="/leagues">Back to League List</a>
    </nav>
    <h1><%= league.name %></h1>
    <p>Description: <%= league.description %></p>
    <p>founded: <%= league.founded %></p>
    <p>teams: <%= league.teams %></p>
    <%= league.image %> 
<!-- <img src="<%=league.image %>"> -->
</body>
</html>