<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%
</head>
    <body>
        <div class="body-overlay">
        <nav>
            <a href="/leagues">Back to League List</a>
        </nav>
        <h3><%= leagues.name %></h3>
        <p>Description: <%= leagues.description %></p>
        <p>Founded: <%= leagues.founded %></p>
        <p>Teams: <%= leagues.teams %></p>
        <p>Image: <%= leagues.image %></p> 
        <img src="<%=leagues.image %>">
        </div>
    </body>
</html>